@media screen and (max-width: 480px) {
    #home h1 {
        color: red;
        font-size: 4rem;
    }
    
    #tour {
        padding-top: 50px;
    }
    /* Project */
	#projekte .projectbox,
    #CD .projectbox {
		grid-template-columns: repeat(1,1fr);
        padding: 0;
	}
	#projekte .box,
    #CD .box {
        width: 380px;
        height: 380px;
	}

	.custom-section .bio {
		display: flex;
		flex-direction: column;
	}

    .custom-section {
        border: 2px solid red;
        height: auto;
    }
    .custom-section .col-left {
        width: 100%;
        height: auto;
        margin-bottom: 20px;
    }

    .custom-section .col-left .bio-img {
        border: 5px solid white;
    }

    .custom-section .col-left .bio-img::after {
        left: -20px;
        top: 10px;
        height: 95%;
        width: 95%;
        border-width: 5px;
    }
    .custom-section .bio {
		display: flex;
		flex-direction: column;
	}
    .custom-section .col-right {
        width: 100%;
        height: auto;
    }
    .custom-section .cta {
        font-size: 2rem;
    }
    .cd_ul {
        margin: 0px;
    }
    .cd_ul p {
        margin: 5px;
    }
	/* End Project */

    /*  Unterricht */
    
    #unterricht .unterricht-bottom .unterricht-item {
		flex-basis: 45%;
		margin: 2.5%;
	}
    #unterricht .unterricht-bottom {
        display: flex;
        flex-direction: column;
    }
    #unterricht .unterricht {
        margin: 50px auto;
    }

    .unterrichtangebot .box {
        width: 100%; 
    }
    .unterrichtangebot .section-title {
        padding-top: 50px;
    }
    .unterrichtangebot .info {
        flex-direction: column;
    }
    .unterrichtangebot img {
        width: 150px;
    }
    .unterrichtangebot .box.left,
    .unterrichtangebot .box.right {
        width: 100%; 
        margin: 10px;
    }
    
    /* End Unterricht */
    #download {
    }

}
/* Media Query For Tablet */
@media only screen and (min-width: 768px) {

    .cta {
		font-size: 2.5rem;
		padding: 20px 60px;
	}
	h1.section-title {
		font-size: 6rem;
	}

	/* home */
	#home h1 {
		font-size: 7rem;
        color:white;
	}
	/* End home */

	/* unterricht Section */
	
    #musiksafari,
    #ensemble {
        display: flex;
        flex-direction: column;
    }

    #bigdjango {
        margin-top: 50px;
        width: 700px;
    }
	/* End unterricht Section */

	/* Project */
	#projekte .section-title {
		padding-top: 50px;
	}
	#projekte .projectbox {
		display: grid;
		grid-template-columns: repeat(2,1fr);
	}
	#projekte .box {
    width: 400px;
    height: 400px;
	}
    .custom-section {
        padding: 20px;
    }
   
	/* End Project */


	/* CD */
	#CD .projectbox {
		display: grid;
		grid-template-columns: repeat(2,1fr);
	}
	#CD .box {
		width: 400px;
		height: 400px;
	}

	/* End CD */
	/* bio */
	#bio .bio {
		flex-direction: row;
	}
	#bio .col-left {
		width: 600px;
		height: 400px;
		padding-left: 60px;
	}
	#bio .bio .col-left .bio-img::after {
		left: -45px;
		top: 34px;
		height: 98%;
		width: 98%;
		border: 10px solid var(--main-color);
	}
	#bio .col-right {
		text-align: left;
		padding: 30px;
	}
	#bio .col-right h1 {
		text-align: left;
	}
	/* End bio */

	/* kontakt  */

	#kontakt .kontakt {
		flex-direction: column;
		padding: 100px 0;
		align-items: center;
		justify-content: center;
		min-width: 20vh;
        margin: 10px auto;
	}

	#kontakt .col-right {
		padding-top: 60px;
	}
	#kontakt img {
		object-position: top center;
	}
	
	/* End kontakt  */
}
/* End Media Query For Tablet */

/* Media Query For Desktop */
@media only screen and (min-width: 1200px) {
	/* header */
	#header .hamburger {
		display: none;
	}
	#header .nav-list ul {
		position: initial;
		display: block;
		height: auto;
		width: fit-content;
		background-color: transparent;
	}
	#header .nav-list ul li {
		display: inline-block;
	}
	#header .nav-list ul li a {
		font-size: 1.8rem;
	}
	#header .nav-list ul a:after {
		display: none;
	}
	/* End header */

	#unterricht .unterricht-bottom .unterricht-item {
		flex-basis: 22%;
		margin: 1.5%;
	}
}
/* End  Media Query For Desktop */
