:root {
    --main-color: rgb(232, 166, 0);
    --secondary-color: white;
    --whitesmoke:whitesmoke;
  }

@import 'https://fonts.googleapis.com/css?family=Montserrat:300, 400, 700&display=swap';
* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}
html {
	font-size: 10px;
	font-family: Helvetica;
	scroll-behavior: smooth;
}
a {
	text-decoration: none;
	font-size: 1.6rem;
	color: black;
}
a:hover {
	color: var(--main-color);
}
li {
	list-style: none;
	color: black;
	font-size: 1.6rem;
	margin-top: 5px;
	font-weight: 300;
	letter-spacing: 0.05rem;
}
.container {
	min-height: 100vh;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
}
img {
	height: 100%;
	width: 100%;
	object-fit: cover;
}
.bold {
	font-weight: bold;
}
p {
	color: black;
	font-size: 1.6rem;
	margin-top: 5px;
	line-height: 2.5rem;
	font-weight: 300;
	letter-spacing: 0.05rem;
}
.section-title {
	font-size: 4rem;
	font-weight: 300;
	color: black;
	margin-bottom: 10px;
	text-transform: uppercase;
	letter-spacing: 0.2rem;
	text-align: center;
}
.section-title span {
	color: var(--main-color);
}

.cta {
	display: inline-block;
	padding: 10px 30px;
	color: white;
	font-weight: bold;
	background-color: transparent;
	border: 5px solid var(--main-color);
	font-size: 3rem;
	text-transform: uppercase;
	letter-spacing: 0.2rem;
	margin-top: 30px;
	transition: 0.3s ease;
}
.cta:hover {
	color: white;
	background-color: var(--main-color);
}
.brand h1 {
	font-size: 3rem;
	text-transform: uppercase;
	color: white;
}
.brand h1 span {
	color: var(--main-color);
}
.page {
    display: none;
    width: 100vw;
    height: 100vh;
}


/* Header section */
#header {
	position: fixed;
	z-index: 1000;
	left: 0;
	top: 0;
	width: 100vw;
	height: auto;
}
#header .header {
	min-height: 8vh;
	background-color: #29323c;

	transition: 0.3s ease background-color;
}
#header .nav-bar {
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 100%;
	height: 100%;
	max-width: 1300px;
	padding: 0 10px;
}
#header .nav-list ul {
	position: absolute;
	background-color: rgb(31, 30, 30);
	width: 100vw;
	height: 100vh;
	left: 100%;
	top: 0;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	z-index: 1;
	overflow-x: hidden;
	transition: 0.5s ease left;
}
#header .nav-list ul.active {
	left: 0%;
}
#header .nav-list ul a {
	font-size: 2.5rem;
	font-weight: 500;
	letter-spacing: 0.2rem;
	text-decoration: none;
	color: white;
	text-transform: uppercase;
	padding: 20px;
	display: block;
}
#header .nav-list ul a::after {
	content: attr(data-after);
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%) scale(0);
	color: rgba(240, 248, 255, 0.021);
	font-size: 13rem;
	letter-spacing: 50px;
	z-index: -1;
	transition: 0.3s ease letter-spacing;
}
#header .nav-list ul li:hover a::after {
	transform: translate(-50%, -50%) scale(1);
	letter-spacing: initial;
}
#header .nav-list ul li:hover a {
	color: var(--main-color);
}
#header .hamburger {
	height: 60px;
	width: 60px;
	display: inline-block;
	border: 3px solid white;
	border-radius: 50%;
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
	z-index: 100;
	cursor: pointer;
	transform: scale(0.8);
	margin-right: 20px;
}
#header .hamburger:after {
	position: absolute;
	content: '';
	height: 100%;
	width: 100%;
	border-radius: 50%;
	border: 3px solid white;
	animation: hamburger_puls 1s ease infinite;
}
#header .hamburger .bar {
	height: 2px;
	width: 30px;
	position: relative;
	background-color: white;
	z-index: -1;
}
#header .hamburger .bar::after,
#header .hamburger .bar::before {
	content: '';
	position: absolute;
	height: 100%;
	width: 100%;
	left: 0;
	background-color: white;
	transition: 0.3s ease;
	transition-property: top, bottom;
}
#header .hamburger .bar::after {
	top: 8px;
}
#header .hamburger .bar::before {
	bottom: 8px;
}
#header .hamburger.active .bar::before {
	bottom: 0;
}
#header .hamburger.active .bar::after {
	top: 0;
}
/* End Header section */

/* home Section */
#home {
	background-image: url(image/rehan.jpg);
	background-size: cover;
	background-position: top center;
	position: relative;
	z-index: 1;
}
#home::after {
	content: '';
	position: absolute;
	left: 0;
	top: 0;
	height: 100%;
	width: 100%;
	background-color: black;
	opacity: 0.4;
	z-index: -1;
}
#home .home {
	max-width: 1200px;
	margin: 0 auto;
	padding: 0 50px;
	justify-content: flex-start;
}
#home h1 {
	display: block;
	width: fit-content;
	font-size: 4rem;
	position: relative;
	color: transparent;
	animation: text_reveal 0.5s ease forwards;
	animation-delay: 1s;
	font-weight: bold;
}
#home h1:nth-child(1) {
	animation-delay: 1s;
}
#home h1:nth-child(2) {
	animation-delay: 2s;
}
#home h1:nth-child(3) {
	animation: text_reveal_name 0.5s ease forwards;
	animation-delay: 3s;

}
#home h1 span {
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 0;
	background-color: var(--main-color);
	animation: text_reveal_box 1s ease;
	animation-delay: 0.5s;
}
#home h1:nth-child(1) span {
	animation-delay: 0.5s;
}
#home h1:nth-child(2) span {
	animation-delay: 1.5s;
}
#home h1:nth-child(3) span {
	animation-delay: 2.5s;
}

/* End home Section */

/* unterricht Section */

#unterricht .unterricht {
	flex-direction: column;
	text-align: center;
	max-width: 1500px;
	margin: 0 auto;
	padding: 100px 0;
}
#unterricht .unterricht-top {
	max-width: 800px;
	margin: 0 auto;
}
#unterricht .unterrichticon {
	width: 200px;
	margin-bottom: 20px;

}
#unterricht .unterricht-bottom {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-wrap: wrap;
	margin-top: 50px;
}
#unterricht .unterricht-item {
	flex-basis: 80%;
	display: flex;
	align-items: flex-start;
	justify-content: center;
	text-align: center;
	flex-direction: column;
	padding: 30px;
	border-radius: 10px;
	margin: 10px 5%;
	position: relative;
	z-index: 1;
	overflow: hidden;
}
#unterricht .unterricht-item::after {
	content: '';
	position: absolute;
	left: 0;
	top: 0;
	height: 100%;
	width: 100%;
	background-image: linear-gradient(60deg, #29323c 0%, #485563 100%);
	opacity: 0.9;
	z-index: -1;
}

#unterricht .unterricht-item h2 {
	font-size: 2rem;
	margin-bottom: 20px;
	text-transform: uppercase;
	text-align: left;
}

#unterricht .unterricht-item a {
	color: white;
	cursor: pointer;
}
#unterricht .unterricht-item a:hover {
	color: var(--main-color);
}
#unterricht .unterricht-item p {
	color: white;
	text-align: left;
}

/* End unterricht Section */



/* unterricht - extra */

#musiksafari,
#ensemble,
#workshop,
#bigdjango {
	flex-direction: column;
	text-align: center;
	max-width: 1500px;
	margin: 0 auto;
	padding: 50px 30px;
}
#musiksafari .info,
#ensemble .info,
#workshop .info,
#bigdjango .info {
    display: flex;
    justify-content: space-between;
}

#workshop .cta {
	color: black;
}
#workshop .cta:hover {
	color: white;
}
#musiksafari img,
#ensemble img {
	width: 250px;
	height: auto;
	display: inline-block;
	margin: 0 auto;
}

.section {
	padding-bottom: 30px;
}
.box {
    width: 48%; 
    box-sizing: border-box;
 }
.box.left {
    order: 1; 
}

.box.right {
    order: 2;
}

#bigdjango .unterricht {
	flex-direction: column;
	text-align: justify;
	max-width: 1500px;
	margin: 0 auto;
	padding: 100px 0;
}
#bigdjango .unterricht-top {
	margin: 0 auto;
	max-width: 900px;

}

#bigdjango .unterricht-bottom {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-wrap: wrap;
	margin-top: 50px;
	max-width: 800px;
}

/* CD section */
#CD .projectbox {
    display: grid;
    grid-template-columns: repeat(4,1fr);
    align-items: center;
    justify-content: center;
    padding: 0px 200px;
    padding-top: 50px;
    padding-bottom: 50px;
}

#CD .CD {
	flex-direction: column;
	max-width: 1200px;
	margin: 0 auto;
	padding: 100px 0;
}
.cd_ul {
	margin: 30px;
}
.cd_ul li {
	display: flex;
	padding-bottom: 20px;
}
.cd_ul p {
	margin: 0px 10px;
}
/* end CD*/

#projekte .projectbox {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    align-items: center;
    justify-content: center;
    padding: 0px 200px;
    padding-top: 50px;
    padding-bottom: 50px;
}

#projekte .projekte {
	flex-direction: column;
	max-width: 1200px;
	margin: 0 auto;
	padding: 100px 0;
}

#projekte .box,
#CD .box {
    width: 300px;
    height: 300px;
    background-color: white;
    color: white;
    text-align: center;
    transition: .3s ease-in-out;
    overflow: hidden;
    position: relative;
	margin: 10px;
}
.projectbox img {
    width: 100%;
    height: 100%;
}
.card-body {
    width: 100%;
    height: 100%;
    bottom: -100%;
    position: absolute;
    background:white;
    font-size: 20px;
    font-weight: 100;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: 1s ease;
    color: black;
}
.box:hover .card-body{
    bottom: 0;
}
.card-btn {
    background: var(--secondary-color);
    padding: 10px 10px;
    text-transform: uppercase;
    outline: none;
    cursor: pointer;
    width: 120px;
    color: var(--main-color);
}
/* End projekte section */


 .bio {
	text-align: center;
	max-width: 1200px;
	margin: 0 auto;
	padding: 100px 20px;
}
 .col-left {
	width: 700px;
	height: 360px;
}
 .col-right {
	width: 100%;
}

 .col-left .bio-img {
	height: 100%;
	width: 100%;
	position: relative;
	border: 10px solid white;
}
 .col-left .bio-img::after {
	content: '';
	position: absolute;
	left: -33px;
	top: 19px;
	height: 98%;
	width: 98%;
	border: 7px solid var(--main-color);
	z-index: -1;
}
#RSEnsemble .cta {
	color: black;
	cursor: pointer;
}

/* bio Section */
#bio .bio {
	flex-direction: column-reverse;
	text-align: center;
	max-width: 1200px;
	margin: 0 auto;
	padding: 100px 20px;
}
#bio .col-left {
	width: 250px;
	height: 360px;
}
#bio .col-right {
	width: 100%;
}
#bio .col-right h2 {
	font-size: 1.8rem;
	font-weight: 500;
	letter-spacing: 0.2rem;
	margin-bottom: 10px;
}
#bio .col-right p {
	margin-bottom: 20px;
}
#bio .col-right .cta {
	color: black;
	margin-bottom: 50px;
	padding: 10px 20px;
	font-size: 2rem;
}
#bio .col-left .bio-img {
	height: 100%;
	width: 100%;
	position: relative;
	border: 10px solid white;
}
#bio .col-left .bio-img::after {
	content: '';
	position: absolute;
	left: -33px;
	top: 19px;
	height: 98%;
	width: 98%;
	border: 7px solid var(--main-color);
	z-index: -1;
}
/* End bio Section */

/* TOUR Section */

#tour .container {
	flex-direction: column;
	text-align: center;
	max-width: 800px;
	margin: 0 auto;
}
/* End TOUR Section */


/* unterricht Section */

#unterricht .unterricht {
	flex-direction: column;
	text-align: center;
	max-width: 1500px;
	margin: 0 auto;
	padding: 100px 0;
}
#unterricht .unterricht-top {
	max-width: 800px;
	margin: 0 auto;
}
#unterricht .unterrichticon {
	width: 200px;
	margin-bottom: 20px;

}
#unterricht .unterricht-bottom {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-wrap: wrap;
	margin-top: 50px;
}
#unterricht .unterricht-item {
	flex-basis: 80%;
	display: flex;
	align-items: flex-start;
	justify-content: center;
	text-align: center;
	flex-direction: column;
	padding: 30px;
	border-radius: 10px;
	margin: 10px 5%;
	position: relative;
	z-index: 1;
	overflow: hidden;
}
#unterricht .unterricht-item::after {
	content: '';
	position: absolute;
	left: 0;
	top: 0;
	height: 100%;
	width: 100%;
	background-image: linear-gradient(60deg, #29323c 0%, #485563 100%);
	opacity: 0.9;
	z-index: -1;
}

#unterricht .unterricht-item h2 {
	font-size: 2rem;
	margin-bottom: 20px;
	text-transform: uppercase;
	text-align: left;
}

#unterricht .unterricht-item a {
	color: white;
	cursor: pointer;
}
#unterricht .unterricht-item a:hover {
	color: var(--main-color);
}
#unterricht .unterricht-item p {
	color: white;
	text-align: left;
}

/* End unterricht Section */


#download .left {
	max-width: 500px;
}
#download ul {
	margin: 30px;
}
#download li {
	display: flex;
	padding-bottom: 20px;

}
#download p {
	margin: 0px 10px;
}
/* kontakt Section */

#kontakt .kontakt {
	display: flex;	
	max-width: 1200px;
	margin: 10px auto;
	width: 90%;
}
#kontakt .container {
	display: flex;
}
#kontakt p,
#kontakt a {
	font-size: 2rem;
}
#kontakt .copyright {
	padding-top: 20px;
	padding-left: 250px;
	font-size: 1.5rem;
}
form {
    max-width: 400px;
    margin: 0 auto;
	font-size: 2rem;
	font-weight: lighter;
	padding:20px;
}

label {
    display: block;
    margin-bottom: 10px;
}

input,
textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    resize: none; 
    box-sizing: border-box;
    border: none; 
    border-bottom: 1px solid black; 
    font-weight: lighter;
    font-size: 2rem;
}
input:focus,
textarea:focus {
	outline: none;
}

button {
    background-color: var(--main-color);
    color: white;
    padding: 10px 30px;
    border-radius: 50px;
    border: none;
    cursor: pointer;
    font-size: 20px;
    font-weight: lighter;
}

button:hover {
    background-color: black;
}

#footer {
	width: 100%;
	min-height: 50px;
	background:linear-gradient(60deg, #29323c 0%, #485563 100%) ;
	display: flex;
	flex-direction: column;
	text-align: center;
	justify-content: center;
}
#footer p,
#footer a {
	color: white;
	font-size: 1.5rem;
}
#footer a:hover {
	color: var(--main-color);
}
#disclaimer .container{
	flex-direction: column;
	max-width: 800px;
	margin: 100px auto;

}
/*End kontakt Section */


/* Keyframes */
@keyframes hamburger_puls {
	0% {
		opacity: 1;
		transform: scale(1);
	}
	100% {
		opacity: 0;
		transform: scale(1.4);
	}
}
@keyframes text_reveal_box {
	50% {
		width: 100%;
		left: 0;
	}
	100% {
		width: 0;
		left: 100%;
	}
}
@keyframes text_reveal {
	100% {
		color: white;
	}
}
@keyframes text_reveal_name {
	100% {
		color: var(--main-color);
		font-weight: 500;
	}
}
/* End Keyframes */
